<?python
  fruits = ["apple", "orange", "kiwi"]
?>
<!DOCTYPE html>
<html xmlns:py="http://genshi.edgewall.org/">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title py:content="title">This is replaced.</title>
  </head>

  <body>
    <p>These are some of my favorite fruits:</p>
    <ul>
      <li py:for="fruit in fruits">
        I like ${fruit}s
      </li>
    </ul>
  </body>
</html>